* {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #3feee6;
}

div.about-page{
    text-align: center;
}

p {
    max-width: 800px;
    text-align: justify;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    color: #fc4445;
}
h2 {
    color: #55bcc9;
}

.accent {
    color: #55bcc9;
}

a {
    color: #fc4445;
}

h1, h2{
    text-align: center;
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.horizontal{
    max-width: 90%;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.nav-bar {
    float: right;
}

a.nav-bar {
    display: block;
    padding: 8px;
    background-color: #cafafe;
    color: #97caef;
}

ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "— ";
    text-indent: -5px;
}

#resume{
    display: block;
    text-align: center;
}
